* {margin: 0; padding: 0;}
body {
	width: 100%;
	min-height: 100vh;
}

.content {
    background-color: #dac9c9;
    display: flex;
    justify-content: center;
    margin: 100px 50px 50px 50px;
    font-family: sans-serif;
    border: 5px solid rgb(211, 77, 77);
    padding: 50px;
}

#area {
    width: 156px;
    margin: 80px auto;
    font-size: 0;
    
}
#home {
    background-color: rgb(125, 185, 219);
}

.cell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    border: 1px solid #ca3b3b;
    cursor: pointer;
    vertical-align: middle;
    
}

.cell:hover {
    background-color: #f8bfbf;
}

.currentPlayer {
    width: 140px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #ec1616;
}

.stat {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.stat table {
    border-collapse: collapse;
}

.stat table, .stat th, .stat td {
    border: 1px solid #f79494;
    padding: 5px;
    text-align: center;
    color: red;
}






h1 {
    text-align: center;
    color: rgb(120, 139, 156);
    margin: 30px;
}



header {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.unit {
	width: 110%;
	height: 110%;
	background: url(dist/img/city.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
.hacker {
	width: 600px;
	height: 712px;
	background: url(dist/img/hacker.png);
	position: absolute;
	bottom: -100px;
	left: 37%;
}
.text {
	font-size: 100px;
	font-weight: bold;
	color: #ffffff;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%);
	text-shadow: 5px 5px 15px #000000;
	white-space: nowrap;
}


#home2 {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.unit1 {
	width: 110%;
	height: 110%;
	background: url(dist/img/road-in-forest_1127-3049.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
.car {
	width: 515px;
	height: 698px;
	background: url(dist/img/car.png);
	position: absolute;
	bottom: -250px;
	left: 37%;
}
#home2text1 {
	font-size: 100px;
	font-weight: bold;
	color: #ffffff;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%);
	text-shadow: 5px 5px 15px #000000;
	white-space: nowrap;
}





 
      
